RewriteEngine On

RewriteRule ^home index.php [NC,L]
RewriteRule ^about/?$ about.php
RewriteRule ^services/?$ services.php [NC,L]
RewriteRule ^contact/?$ contact.php [NC,L]
RewriteRule ^products/?$ products.php [NC,L]

ErrorDocument 404 /maheyservices/error.php
ErrorDocument 401 /maheyservices/error.php
ErrorDocument 403 /maheyservices/error.php
ErrorDocument 500 /maheyservices/error.php