RewriteEngine On

RewriteRule ^admin index.php [NC,L]
RewriteRule ^home home.php [NC,L]
RewriteRule ^contact contact.php [NC,L]
RewriteRule ^subscribe subscribe.php [NC,L]
RewriteRule ^updatepassword updatepassword.php [NC,L]




ErrorDocument 404 /maheyservices/error.php
ErrorDocument 401 /maheyservices/error.php
ErrorDocument 403 /maheyservices/error.php
ErrorDocument 500 /maheyservices/error.php